$black-raisin-100: hsl(0, 0, 15, 100%);
$black-raisin-54: hsl(0, 0, 15, 54%);
$black-raisin-26: hsl(0, 0, 15, 26%);
$black-raisin-12: hsl(0, 0, 15, 12%);
$black-raisin-03: hsl(0, 0, 15, 3%);

$blue-ultramarine-100: hsl(217, 100, 50, 100%);
$blue-ultramarine-50: hsl(217, 100, 50, 50%);
$blue-ultramarine-10: hsl(217, 100, 50, 10%);

$isabeline-100: hsl(206, 30, 95, 100%);

$lemon-bitter-100: hsl(71, 86, 49, 100%);
$lemon-bitter-50: hsl(71, 86, 49, 50%);
$lemon-bitter-10: hsl(71, 86, 49, 10%);

$white: hsl(0, 0, 100, 100%);
$white-bg: hsl(0, 0, 100, 35%);
