.accordionHeader {
  margin-left: 1em;
  font-family: var(--jost-regular-400);
  color: var(--black-raisin-100);
}

.accordionContent {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-height: 200px;
  overflow: auto;
}
