.tabsSwitcher {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabsHeader {
  display: flex;
}

.tabs {
  padding: 1em 0.5em;
  flex: 1;
}

.tab {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5em 0em;
  flex: 1;
  font-size: inherit;
}

.tabSelected {
  border-bottom: 1px solid var(--blue-ultramarine-100);
  margin-bottom: -1px;
  color: var(--blue-ultramarine-100);
}
