.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--backdrop);
  display: grid;
  place-items: center;
}

.modal {
  background-color: var(--white);
  padding: 1em;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 0.5em;
}

.modalHeader {
  font-family: var(--ibm-plex-sans-bold-700);
}
